{% extends "layout.html" %}

{% block body %}

    <table class="table text-center">
        <thead class="thead-dark">
        <tr>
            <th colspan="12">Próby strzelnicze</th>
        </tr>
        <tr>
            <th scope="col" width="30%">Próba</th>
            <th scope="col" width="30%">Kaliber</th>
            <th scope="col" width="30%">Model Broni</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for proba in proba_strzelnicza %}
            <tr>
                <td>{{ proba.sample_id }}</td>
                <td>{{ proba.bullet }}</td>
                <td>{{ proba.weapon }}</td>
                <td><a href="{% url 'proba_strzelnicza' proba.sample_id %}" type="button"
                       class="btn btn-info">Sczegóły</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}